<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Simple toDo Application</title>
    <style type="text/css">
    <!--
    @media screen and (min-width: 767px) {
        #menu-bg {
            background-color: #00FFFF;
        }
    }

    @media screen and (max-width: 479px) {
        #menu-bg {
            background-color: #00ff00;
        }
    }
    -->
    </style>
</head>
<body>
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
        {% block content %}
        <!-- メインコンテンツ -->
        {% endblock %}
    </div>
</div>
<br>
<hr>
<footer>
    <!--
    <div align="center">
        <p>Copyright &copy; RightCode Inc. All right reserves.</p>
        <p>Powered by FastAPI 0.36.0 &amp; starlette 0.12.9</p>
    </div>
-->
</footer>
</body>
</html>